{{ define "content" }}
<link href='https://fonts.googleapis.com/css?family=Open+Sans:700,600' rel='stylesheet' type='text/css'>

<form method="post" action="/login">
<div class="box">
<h1>Login</h1>

<input type="text" name="email" value="email" onfocus="this.value=''" class="email" />

<input type="password" name="password" value="password" onFocus="this.value=''" class="email" />

<input type="submit" class="btn" value="Sign In"/> <!-- End Btn -->

</div> <!-- End Box -->

</form>

<p>Forgot your password? <u style="color:#f1c40f;">Click Here!</u></p>
{{ end }}
